<!DOCTYPE html>
<html>
{% extends 'base.html' %}
<head>

	<title></title>
</head>
<body>
	{% block content %}
		Hello, {{ user.username|default:'Guest' }}!

	<div>
	    {% if user.is_authenticated %}
	        <a href="{% url 'logout' %}">Logout</a>
	        <a href="{% url 'password_change' %}">Change password</a>
	    {% else %}
	        <a href="{% url 'login' %}">Login</a>
	        <a href="{% url 'password_reset' %}">Reset password</a>

	    {% endif %}
	</div>
{% endblock %}
</body>
</html>
