<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body %}
<body style="background-image:url('{{riversection.main_image.url}}')";>	
	<div class="centered_container">
		<h1 class="viking" >{{riversection.river}} ({{riversection.grade}})</h1>
		
		{% if riversection.rivermap %}
			<img src="{{riversection.rivermap}}" alt="Rivermap.img">	
		{% endif %}
		
		{% if riversection.trait_taggs %}
			<div>{{riversection.trait_taggs}}</div>
		{% endif %}
		<div class = "riverupdate">
			{% if riversection.update%}
				<h1> -- Update warning !!! -- </h1>
				<p> {{riversection.update}} </p>
			{% endif %}
		</div>
		<article>{{riversection.content}}</article>
	</div>
</body>
{% endblock %}
<footer>
	{%block footer%}
		<div>
		{% if authorbio %}
			<section class="user">
				<div class ="portrait">
					{% if authorbio.user_image %}
						<img src="{{authorbio.user_image.url}}" alt="{{authorbio.name}}.img">
					{% else %}
						<img src="{% static 'img/shy_user.jpg' %}" alt="{{authorbio.username}}.img">
					{% endif %}
				</div>
				<div class="userinfo">
					<p>Author: {{authorbio.primary_name}} {{authorbio.age}}</p>
					{%if authorbio.secondary_name %}
					<p>Alias: {{authorbio.secondary_name}}</p>
					{%endif%}
					<p>Background: {{authorbio.background}} {{authorbio.nationailty}}</p>
					<p>Joined {{authorbio.created}}</p>
					<li> 
						{% for articles in authorbiblio%}
							<a href="#">{{articles.river}}</a>
						{% endfor %}
					</li>
					
				</div>
				<div class="bio">
					<h2>{{authorbio.primary_name}}</h2>
					<p>{{authorbio.about_me}}</p>
				</div>
			</section>
		{% endif %}
		</div>
	{% endblock %}
</footer>


</html>