<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body %}
<body style="background-image:url('{{riversection.main_image.url}}');">	
	<div>
	<div class="centered_container">
		<h1 class="viking" >{{riversection.river}} ({{riversection.grade}})</h1>
		
		{% if riversection.rivermap %}
			<img src="{{riversection.rivermap}}" alt="Rivermap.img">	
		{% endif %}
		
		{% if riversection.trait_taggs %}
			<div>{{riversection.trait_taggs}}</div>
		{% endif %}
		<div class = "riverupdate">
			{% if riversection.update%}
				<h1> -- Update warning !!! -- </h1>
				<p> {{riversection.update}} </p>
			{% endif %}
		</div>
		<article>{{riversection.content}}</article>

		{% for section in articlesection %}
			<div>
				<h1 class = "viking">{{section.section_header}}</h1>
				<article>{{section.content}}</article>
			</div>
		{% endfor %}
	</div>
	</div>
</body>
{% endblock %}
<footer>
	{%block footer%}
		<div>
		{% if authorbio %}
			<section class="flexbox_wrap">
				<div class="flexbox_wrap">

					<div class ="portrait">
						{% if authorbio.user_image %}
							<img src="{{authorbio.user_image.url}}" alt="{{authorbio.name}}.img">
						{% else %}
							<img src="{% static 'img/shy_user.jpg' %}" alt="{{authorbio.username}}.img">
						{% endif %}
					</div>
					<div class="userinfo">
						<div>
							<p class="viking">Author: </p><p>{{authorbio.primary_name}}</p>
							{%if authorbio.secondary_name %}
								<p class="viking">Alias: </p><p>{{authorbio.secondary_name}} 
							{%endif%}
							<p class="viking">Background: </p><p>{{authorbio.background}} {{authorbio.nationailty}} -  Age: {{authorbio.age}}</p>
							<p class="viking">Joined: </p><p>{{authorbio.created}}</p>
							<p class="viking">Authored</p>
							{% for articles in authorbiblio%}
								<a href="#">{{articles.river}}</a>
							{% endfor %}
						</div>
					</div>	
				</div>
				<div class="bio">
					<h2>{{authorbio.primary_name}}</h2>
					<p>{{authorbio.about_me}}</p>
				</div>

			</section>
		{% endif %}
		</div>
	{% endblock %}
</footer>


</html>