<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<body style="background-image:url('{% static 'img/wp_riverlist.jpg' %}'" class="fixed_static_background" >
	<div class = "glass">
		<div class="riverlist">
			<table >
				<thead>
					<tr>
						<th>Name</th>
						<th>Location</th>
						<th>Grade</th>
						<th>Keyword features</th>
					</tr>
				</thead>
				
				<tbody class="table_content">
					{% for section in riverdb %}
						<tr> 
							<td><a href="/rivers/{{section.slug}}/{{section.section_slug}}/{{section.style_slug}}">{{section.river}}</td>
							{% if section.nokken%}
								<td><a href={{section.nokken}}>{{section.region}}</a></td>
							{% else %}
								<td>{{section.region}}</td>
							{% endif %}
							<td class="center_text">{{section.grade}}</td>
							<td>{{section.taggs}}</td>
						</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>	
	</div>
</body>
{% endblock%}
</html>