.base_header{
	background-color: #16a6ec;
	width: 50em;
	height: 5em;
	display: flex;
}
.header_nav_paths{
	background: inherit;
	align-self:flex-end;
	height: 70%; 
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.header_nav_paths button{
	flex-basis: 7em;
	background:inherit;
	font-size: large;
}
/*
.header_nav_bar{
	background: inherit;
	grid-area: nav_bar;
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	height:5em;

	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: nowrap;

}
.header_logo{
	grid-area: logo;
	background: inherit;
	font-size: large;
	flex-basis: 7em;
}
*/



.base_footer{
	position: sticky;
	background-color:#232b2b;
	height: 7em;
	width: 100%;
	border:solid;
}

.riverlist {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	font-family:georgia;
}
.glass{
	  position: relative;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50em;
	  height:35em ;
	  background: inherit;
	  overflow: hidden;
	  box-shadow: inset 0 0 0 500px rgba(255,255,255,0.05);
	}
.glass:after{
	 content: "";
	 background: inherit;
	 position: absolute;
	 top:0;
	 left: 0;
	 right: 0;
	 bottom: 0;

	 filter: blur(10px);
	}

.riverlist table {
	position: absolute;
	width:100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.riverlist thead{
	background-color: lightblue;
}
.riverlist a {
	text-decoration: none;
	color: darkgrey;
	text-shadow: -1px 1px 0 black,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}

.riverlist a:hover{
	text-decoration:underline;	
	color:blue;
}
.grade{
	text-align: center;
	font: bolder;
}
.table_content {
	overflow-y: auto;
}

.container {
	max-width: 5fr;
	margin-right: auto;
	margin-left: auto;
}
.body {
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 0.5em;
}
.container article {
	width: 100%;
	min-height: 10em;
	outline-style: solid;
}
.container img{
	width: 100%;
}
.container h1 {
	text-align: center;
} 
.riverupdate {
	background-color: yellow;
	padding: 0.5em;
	border-style: dashed;
	text-align: center;
}


/* User data related css*/
.user{
	margin-top: 5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	outline: solid;
	background-color: lightblue;
	padding: 0.5em;
	justify-content:center;
	color: black;
}
.portrait {
	min-width: 100px;
	max-width: 300px;
	margin: 2em;

}
.portrait img {
	max-width: 100%;
	max-height: 100%;
	border: solid;
	margin: 0.5em;

}
.userinfo{
	outline: solid;
	padding: 0.5em;
	margin: 0.5em;
}
.bio{
	max-width: 30em;
	border: solid;
	padding: 0.5em;
	margin: 0.5em;
	text-align: center;
}
.bio h2{
	text-align: center;
}
