@font-face{
	font-family: viking;
	src:url(../fonts/viking/viking.ttf) format("truetype");
}

.viking {
	font-weight: 700;
	font-family: viking;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;}

.base_header{
	background-color: #16a6ec;
	width: 50em;
	height: 5em;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	border-radius: 1em 1em;
}

.header_nav_paths{
	align-self:center;
	height: 70%; 
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
}

.header_nav_paths button{
	flex-basis: 7em;
	background:inherit;
	color: white;
	border-style: none;
	text-shadow: 2px 2px grey;
}

.header_nav_paths button:hover {
	color: grey;	
}


.glass{
	  position: relative;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50em;
	  height:35em ;
	  background: inherit;
	  overflow: hidden;
	  box-shadow: inset 0 0 0 500px rgba(255,255,255,0.05);
	}
.glass:after{
	 content: "";
	 background: inherit;
	 position: absolute;
	 top:0;
	 left: 0;
	 right: 0;
	 bottom: 0;

	 filter: blur(10px);
	}

.riverlist table {
	position: absolute;
	width:100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.riverlist thead{
	background-color: lightblue;
}
.riverlist a {
	text-decoration: none;
	color: darkgrey;
	text-shadow: -1px 1px 0 black,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}
.table_content {
	overflow-y: auto;
}

.riverlist a:hover{
	text-decoration:underline;	
	color:blue;
}

.center_text{
	text-align: center;
}

.body {
	display: grid;
	grid-template-rows: auto;
}
.centered_container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.centered_container article {
	margin-top: 1em;
	padding: 1em;
	width: 100%;
	min-height: 10em;
	background-color: white;
	border:black solid;
}

.centered_container h1 {
	text-align: center;
} 
.riverupdate {
	margin-top: 1em;
	padding: 1em;
	width: 100%;
	background-color: yellow;
	border-style: dashed;
	text-align: center;
}


/* User data related css*/
.flexbox_wrap{
	margin: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #16a6ec;
	padding: 0.5em;
	justify-content:space-between;
	color: black;
	border-radius: 2em; 
}
.portrait {
	min-width: 100px;
	max-width: 300px;

}
.portrait img {
	max-width: 90%;
	max-height: auto;
	border-radius: 2em;
	border-style: solid;
	border-color: white;
}
.userinfo{
	padding: 0.5em;
	margin: 0.5em;
	border-style: solid;
	border-color: white;
	border-radius: 2em;
}
.bio{
	flex-basis: 50em;
	max-width: 100em;
	padding: 0.5em;
	margin: 0.5em;
	text-align: center;
}
.bio h2{
	text-align: center;
}
