<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
	</style>
</head>
<header>
	{%block header%}
		<div class="base_header">
		
		</div>
	{%endblock%}
</header>
<body>

</body>
<footer>
	{%block head%}
	<div class="base_footer">

		
	</div>
	{%endblock%}
</footer>
</html>