{% extends 'base.html' %}

{% block content %}
<h2>Confirm password reset</h2>

<form method="post" action="/password_reset/">
    {% csrf_token %}
    {{ form.as_p }}
   	<label for="password_reset"> Password reset </label>
    <input type="submit" value="Confirm">
</form>
{% endblock %}