<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
	<title></title>	
	{%block head%}
	<style type="text/css">

	</style>
	{%endblock%}	
	</style>
</head>
<header>
	{% block header %}
	<div class="base_header">
		<nav class="header_nav_paths">
			<button><img src="{% static 'img/fossekallwithtext.png' %}" style="max-width:100%; max-height: 100%;" ;></button>
			<button> Events </button>
			<button> About </button>
			<button> Images </button>
			<button> User registration </button>
		</nav>
	</div>
	{% endblock%}
</header>
{% block body %}
{% endblock %}
<footer>
	{% block footer %}
	{% endblock %}
</footer>
</html>